[Unit]
Description=R2Cloud Service
Requires=nginx.service
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/home/pi/r2cloud/
ExecStart=/home/pi/r2cloud-jdk/bin/java -cp /home/pi/r2cloud/etc:/home/pi/r2cloud/lib/*:/usr/share/java/r2cloud/* -Djava.library.path=/usr/lib/jni -Djradio.metrics.enabled=true -Duser.timezone=UTC -Djava.util.logging.config.file=/home/pi/r2cloud/etc/logging-prod.properties ru.r2cloud.R2Cloud etc/config-prod.properties
SuccessExitStatus=143
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target